!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title #theAntiCamp - Algo más que formación en nuevas tecnologías
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='stylesheets/anticamp-site.components.css')
    link(rel='stylesheet', href='stylesheets/anticamp-site.0.0.1.css')
  body
    include header

    include what
    include courses
    include where_and_when
    include crowdfunding
    include why
    include who_we_are

    include footer

    script(src='javascripts/anticamp-site.components.js')
    script(src='javascripts/anticamp-site.0.0.1.js')
    script.
      $(function() {

        $(window).stellar();
      
      });
    script.
      $(document).ready(function() {
        $('#menu').sidr();
      });
