!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title #theAntiCamp - Algo más que formación en nuevas tecnologías
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='stylesheets/anticamp-site.components.css')
    link(rel='stylesheet', href='stylesheets/anticamp-site.0.1.0.css')
    //link(rel="shortcut icon" href="images/favicon.ico")
  body
    #wrapper
      include header

      include what
      include courses
      include where_and_when
      include crowdfunding
      include merchandising
      include why
      include who_we_are
      include coffee_angels

      include footer

    script(src='javascripts/anticamp-site.components.js')
    script(src='javascripts/anticamp-site.0.1.0.js')
    script.
      $(function() {

        $(window).stellar({
           // Set scrolling to be in either one or both directions
          horizontalScrolling: false,
          verticalScrolling: true,

          // Set the global alignment offsets
          horizontalOffset: 0,
          verticalOffset: 0,

          // Refreshes parallax content on window load and resize
          responsive: true,

          // Select which property is used to calculate scroll.
          // Choose 'scroll', 'position', 'margin' or 'transform',
          // or write your own 'scrollProperty' plugin.
          scrollProperty: 'scroll',

          // Select which property is used to position elements.
          // Choose between 'position' or 'transform',
          // or write your own 'positionProperty' plugin.
          positionProperty: 'position',

          // Enable or disable the two types of parallax
          parallaxBackgrounds: true,
          parallaxElements: true,

          // Hide parallax elements that move outside the viewport
          hideDistantElements: true,

          // Customise how elements are shown and hidden
          hideElement: function($elem) { $elem.hide(); },
          showElement: function($elem) { $elem.show(); }
          });

      
      });

