section#angels.bck.padding.text.center.coffee_angels(data-stellar-offset-parent="true")
  .row
    h1.heading Coffee Angels
    p Estos son todos los que han aportado un café al antiCamp.
    .h2.heading.text.color.secondary We 
    span.color.h5.icon.heart 
    .h2.heading.text.color.secondary  you 
    ul.angels
      li.pos1(data-stellar-ratio="1.2") be our angel ;)     
      li.pos2(data-stellar-ratio="3") be our angel ;)     
      li.pos3(data-stellar-ratio="-1") be our angel ;)    
      li.pos4(data-stellar-ratio="6") be our angel ;)     
      li.pos5(data-stellar-ratio="-3") be our angel ;)    
      li.pos6(data-stellar-ratio="1.9") be our angel ;)     
      li.pos7(data-stellar-ratio="10") be our angel ;)    
      li.pos8(data-stellar-ratio="1.1") be our angel ;)

    a.button.large.secondary.text.bold.color.white(href="http://www.indiegogo.com/projects/theanticamp") Quiero ser un angel
