section#angels.bck.padding.text.center.coffee_angels(data-stellar-offset-parent="true")
	.row
		h1.heading Coffee Angels
		p	Estos son todos los que han aportado un café al antiCamp.
		.h2.heading.text.color.secondary We 
			span.h5.icon.heart 
			|	you 
		ul.angels
			li.pos1(data-stellar-ratio="1.2") be our angel ;) 		
			li.pos2(data-stellar-ratio="-2") be our angel ;) 		
			li.pos3(data-stellar-ratio="6") be our angel ;) 		
			li.pos4(data-stellar-ratio="-1") be our angel ;) 		
			li.pos5(data-stellar-ratio="10") be our angel ;) 		
			li.pos6(data-stellar-ratio="1.5") be our angel ;) 		
			li.pos7(data-stellar-ratio="4") be our angel ;) 		
			li.pos8(data-stellar-ratio="-2") be our angel ;) 		