section#courses.bck.textura.padding.text.border-top
  .row.center
    .column_10.offset_1
      h1.heading.margin_bottom Qué vamos a hacer
      h3
        span.heading.text.color.theme.h3 1. 
        | En un fin de semana se van a impartir 
        span.bold dos workshops 
        | :
      p
        | Un día para 
        span.bold CoffeeScript 
        | y otro para 
        span.bold Sass
        | .
      p.margin_bottom  Se podrá asistir a una de ellas o a las dos.
      p 8h/día
      h3.margin_top
        span.heading.text.color.theme.h3 2.
        | Trabajar en proyecto 
        span.bold real
      p
        | Aparte de aprender los fundamentos de Coffee y Sass, vamos a practicar con ellos creando un 
        span.bold proyecto real 
        | que presentaremos a varios concursos (y esperamos ganar, por supuesto).
