section#crowdfunding.bck.textura.padding.text.center
  .row
    .column_10.offset_1
      h1.heading Cómo colaborar
      p
        | Hemos abierto un  
        a(href='http://www.indiegogo.com/projects/theanticamp/x/4196634', target='_blank') indiegogo  
        | para poder llevar el proyecto adelante, se puede colaborar de varios modos:
      h2
        span.icon.heart.text.color.theme
        | Quiero...
      ul
        li.column_4.circle.border
          a.margin_top.text.color.dark(href='#')
            span.h5 1 sticker
            br
            | por
            br
            span.heading.h3.text.color.theme 1€
        li.column_4.circle.border
          a.margin_top.text.color.dark(href='#')
            span.h5 1 camiseta
            br
            | por 
            br
            span.heading.h3.text.color.theme 20€
        li.column_4.circle.border
          a.text.color.dark(href='#')
            span.h5
              | Asistir a 1 
              spab.bold workshop
            br
            | por 
            br
            span.heading.h3.text.color.theme 30€
        li.column_4.circle.border
          a.text.color.dark(href='#')
            span.h5 
              | Asistir a 2 
              spab.bold workshops
            br
            | por 
            br
            span.heading.h3.text.color.theme 50€
