footer.bck.dark.padding.text.color.white.normal
  .row
    .column_12.text.center
      h6.text.big.color.secondary
        | Hecho a mano con  
        span.text.color.white.big ♥ 
        | por 
        a.text.bold(href='http://twitter.com/soyjavi') @soyjavi 
        | & 
        a.text.bold(href='http://twitter.com/nabaroa') @nabaroa 
        | en 
        a.text.bold.color.white(href="http://www.bilbao.net/") Bilbao

      small.text.color.secondary
        | Sientete con la libertad de 
        a.text.color.white(href='mailto:theanticamp@gmail.com') escribirnos 
        | o 
        a.text.color.white(href='https://twitter.com/theanticamp', target='_blank') twittearnos
