footer.bck.dark.padding.text.color.white
  .row.margin-top.margin-bottom
    .column_5
      p.text.bold.small
        | Handcrafted with ♥ by 
        a(href='http://twitter.com/soyjavi') @soyjavi 
        | and 
        a(href='http://twitter.com/nabaroa') @nabaroa 
      span.text.normal Bilbao, ES
    .column_4
      p.text.bold.big What to give feedback? 
      a.text.underline.color.theme(href='mailto:theanticamp@gmail.com') Get in touch
    .column_3 
      p.text.bold.big Need some help?  
      | For quick answers or help 
      a.text.underline.color.theme(href='https://twitter.com/theanticamp', target='_blank') follow us