footer.bck.dark.padding.text.color.white.normal
  .row
    .column_5
      h6.text.bold
        | Handcrafted with ♥ by 
        a(href='http://twitter.com/soyjavi') @soyjavi 
        | and 
        a(href='http://twitter.com/nabaroa') @nabaroa 
      span.text.normal Bilbao, ES
    .column_4
      h6.text.bold What to give feedback? 
      a.text.underline.color.theme(href='mailto:theanticamp@gmail.com') Get in touch
    .column_3 
      h6.text.bold Need some help?  
      | For quick answers or help 
      a.text.underline.color.theme(href='https://twitter.com/theanticamp', target='_blank') follow us
