section.bck.darkest.main.landing.text.center.color.white(data-stellar-background-ratio="0.5")
  header.margin-top.margin-bottom
    .row
      .column_1
        span.icon.menu
      .column_6
        h1.logo_n
          span TheAntiCamp
          em
  h2.heading are you ready?
  p.heading You´ll need it
