section#home.bck.darkest.main.landing.text.center.color.white(data-stellar-background-ratio="0.5")
  header.margin-top.margin-bottom
    .row
      .column_1
       // a
          span.icon.menu
      .column_6
        h1.logo_n
          span TheAntiCamp
          em
  h2.heading are you ready?
  p.heading You´ll need it 
 // ul.menu
    li 
      a(href="#home") Home
    li 
      a(href="#what") Qué es
    li 
      a(href="#courses") Qué vamos a hacer
    li 
      a(href="#where") Dónde y cuándo
    li 
      a(href="#crowdfunding") Cómo colaborar
    li 
      a(href="#why") Por qué
    li 
      a(href="#who") Quiénes
