!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title theAntiCamp. Algo más que formación en nuevas tecnologías
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='stylesheets/anticamp-site.components.css')
    link(rel='stylesheet', href='stylesheets/anticamp-site.0.0.1.css')
  body
    section.bck.darkest.main.landing.text.center.color.white
      header.margin-top.margin-bottom
        .row
          .column_1
            span.icon.menu
          .column_6
            h1.logo_n
              span TheAntiCamp
              em
      h2.heading are you ready?
      p.heading You´ll need it

    section.bck.textura.padding.text.center
      .row
        .column_10.offset_1
          h1.heading Qué es
          p
            | TheAntiCamp no sólo es un 
            span.bold workshop de formación en desarrollo web
            | .
          p.margin_top Es mucho más.
          h3.padding_bottom.margin_top Entre todos conseguiremos:
          ul.row
            li.column_3.circle.bck.theme.white.text.color
              h2.icon.desktop
              | Ponernos las pilas con 
              span.bold CoffeeScript 
              | y 
              span.bold sass
            li.column_3.circle.bck.theme.white.text.color
              h2.icon.tint
              | Hacer crowdfunding para 
              span.bold financiar #theAntiEvent 
            li.column_3.circle.bck.theme.white.text.color
              h2.icon.group
              | Crear sinergias de trabajo

    section.bck.textura.padding.text.border-top
      .row.center
        .column_10.offset_1
          h1.heading.margin_bottom Qué vamos a hacer
          h3
            span.heading.text.color.theme.h3 1. 
            | En un fin de semana se van a impartir 
            span.bold dos workshops
            | :
          p
            | un día para 
            span.bold CoffeeScript 
            | y otro para 
            span.bold Sass
            | .
          p.margin_bottom  Se podrá asistir a una de ellas o a las dos.
          h3.margin_top
            span.heading.text.color.theme.h3 2.
            | Trabajar en proyecto 
            span.bold real
          p
            | Aparte de aprender los fundamentos de Coffee y Sass, vamos a practicar con ellos creando un 
            span.bold proyecto real 
            | que presentaremos a varios concursos (y esperamos ganar, por supuesto).

    section.bck.padding.text.center.height
      .row
        .column_10.offset_1
          h1.heading Dónde y cuándo
          p Se celebrará en Bilbao, Madrid y Barcelona.
          ul.ch-grid
            li.bilbao
              .ch-item
                .ch-info
                  h3 Bilbao
                  p
                    | Septiembre 2013
                    a(href='#') Apúntate
                .ch-thumb.ch-img-1
            li.madrid
              .ch-item
                .ch-info
                  h3 Madrid
                  p
                    | Octubre 2013
                    a(href='#') Apúntate
                .ch-thumb.ch-img-2
            li.barcelona
              .ch-item
                .ch-info
                  h3 Barcelona
                  p
                    | Noviembre 2013
                    a(href='#') Apúntate
                .ch-thumb.ch-img-3
          p
            | En principio se han planteado estos tres destinos, pero ya ha habido alguna 
            span.bold otra sugerencia 
            | para hacerlo también en otra ciudad.
          h4
            | Y 
            span.bold tú 
            | , ¿Dónde quieres que se celebre 
            span.bold el cuarto #theAntiCamp
            | ?
          .margin_top
            a.button(href='') Vota

    section.bck.textura.padding.text.center
      .row
        .column_10.offset_1
          h1.heading Cómo colaborar
          p
            | Hemos abierto un  
            a(href='http://www.indiegogo.com/projects/theanticamp/x/4196634', target='_blank') indiegogo  
            | para poder llevar el proyecto adelante, se puede colaborar de varios modos:
          h2
            span.icon.heart.text.color.theme
            | Quiero...
          ul
            li.column_4.circle.border
              a.margin_top.text.color.dark(href='#')
                span.h5 1 sticker
                br
                | por
                br
                span.heading.h3.text.color.theme 1€
            li.column_4.circle.border
              a.margin_top.text.color.dark(href='#')
                span.h5 1 camiseta
                br
                | por 
                br
                span.heading.h3.text.color.theme 20€
            li.column_4.circle.border
              a.text.color.dark(href='#')
                span.h5
                  | Asistir a 1 
                  spab.bold workshop
                br
                | por 
                br
                span.heading.h3.text.color.theme 30€
            li.column_4.circle.border
              a.text.color.dark(href='#')
                span.h5 
                  | Asistir a 2 
                  spab.bold workshops
                br
                | por 
                br
                span.heading.h3.text.color.theme 50€

    section.bck.textura.padding.text.border-top
      .row
        .column_10.offset_1
          h1.heading Por qué
          h3.heading La ilusión
          p
            | Despues de la experiencia que tuvimos montando 
            span.bold #theAntiEvent   
            | , nos dimos cuenta que lo más importante en estas iniciativas es la  
            span.bold pasión y la ilusión  
            | que ponen los 
            span.bold participantes  
            | , y en ese sentido estamos muy contentos de lo que se consiguió, al fin y al cabo este evento sólo funciona si los asistentes colaboran activamente. Sin lugar a dudas se creó un equipo interesado en aprender, enseñar, colaborar y pasárselo bien.
          h3.heading La necesidad
          p
            | Sabemos que muchos se quedaron sin poder asistir por falta de medios o por problemas de agenda. Para solucionar esto se nos ha ocurrido 
            span.bold  mover #theAntiEvent a otras ciudades 
            | y repetirla periódicamente. La idea es ir aprendiendo de la experiencia y montar un anti evento cada vez mejor.
          p
            | Para que esto sea posible se necesitan ciertos mínimos para que el anti evento tenga 
            span.bold la calidad 
            | que queremos que tenga: buenos locales, wifi en condiciones, catering para los participantes, ayudas en desplazamientos, merchandaising, gastos de dominio, hosting... todas esas cosas que los patrocinadores aportan, pero la cuestión es que 
            span.bold #theAntiEvent no tiene patrocinadores 
            | .
          h3.heading La idea
          p
            | La idea es sencilla, montar un 
            span.bold crowdfunding 
            | para financiar todo el tema.
          p
            | Dándole vueltas al coco, se nos ha ocurrido ofrecer nuestra  
            span.bold experiencia en desarrollo web  
            | en forma de 
            span.bold formación de calidad y asequible  
            | para poder financiar el siguiente #theAntiEvent, y el siguiente, y el siguiente... También se podrá colaborar adquiriendo stickers, camisetas,...
          h3.heading *nota
          p
            | Queremos dejar claro que los organizadores y los profesores  
            span.bold no se lucran 
            | de ese dinero recaudado en #theAntiCamp, ya que todo irá destinado a invertirlo en el siguiente #theAntiEvent
          p Y entonces ¿por qué lo hacemos?
          p
            | Porque  
            span.bold nos divierte 
            | y
            | porque creemos que la 
            span.bold colaboración 
            | es la clave para conseguir mejorar. 

    section.padding.bck.color
      .row.margin-bottom
        .column_10.offset_1.text.center
          h1.heading Quiénes
          h3.text.thin
            | Javi Jimenez is the CTO and co-founder of
            a.text.normal(href='http://tapquo.com') tapquo
            | . A restless mind that always strives for continuous improvement, able to create frameworks like
            a.text.normal(href='http://lungo.tapquo.com') Lungo
            | ,
            a.text.normal(href='http://quojs.tapquo.com') QuoJS
            | ,
            a.text.normal(href='http://monocle.tapquo.com') Monocle
            | used by thousands of developers around the world.
      .row
        .column_4.offset_4.text.center
          img.responsive.rounded.margin-bottom(src='http://cdn.tapquo.com/photos/soyjavi.jpg')
          a.twitter-follow-button(href='https://twitter.com/soyjavi', data-show-count='true', data-dnt='true') Follow @soyjavi
          script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    footer.bck.dark.padding
      .row.margin-top.margin-bottom
        .column_5
          p.text.bold.big
            | Handcrafted by
            a.display.inline(href='http://tapquo.com')
              img(src='http://cdn.tapquo.com/images/logo_footer.png')
          | We're a  user experiences company located in 
          span.text.normal Bilbao 
          | , ES.
        .column_4
          p.text.bold.big Join the team!
          | Let us know how you're!
          a.text.underline.color.theme(href='mailto:hello@tapquo.com?subject=job') Get in touch
        .column_3
          p.text.bold.big Need some help?
          | For quick answers or help
          a.text.underline.color.theme(href='https://twitter.com/tapquo', target='_blank') follow us

    script(src='javascripts/anticamp-site.components.js')
    script(src='javascripts/anticamp-site.0.0.1.js')
