!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  title #TheAntiCamp
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', href='stylesheets/anticamp-site.components.css')
  link(rel='stylesheet', href='stylesheets/anticamp-site.0.0.1.css')

body.text.thin(data-page="tuktuk")

  header.bck.margin-top.margin-bottom
    .row
      .column_6
        h3.text.bold #theAntiCamp
      nav.column_6.text.right
        a.button.secondary(href='#')
          span.icon.user
          | Login
        a.button(href='#')
          span.icon.pencil
          | Signup


  section.bck.darkest.landing.text.center.color.white
    .row
      .column_10.offset_1
        h1
          strong #theAnti
          | Camp
        h3.margin-bottom Flip your mind and change your knowledge.
    .row
      .column_6.offset_3.form.subscribe
        input#mail.large(type='email', placeholder='Your email address')
        button.button.icon.glass send
    h5.text.book Lorem ipsum dolor sit amet, consectetur adipisicing elit.


  section.bck.theme.padding.text.center
    .row.padding-bottom
      .column_10.offset_1
        h1.text.book.color.default Lorem ipsum dolor sit amet
        h4
          | Quam sunt quos minima consequatur dolore quaerat vel recusandae numquam ab qui dignissimos doloribus molestiae pariatur magnam libero nam consectetur asperiores maiores.
    .row.padding-top
      .column_3
        h2.icon.user
        h5.text.normal Lorem ipsum dolor sit
        small
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, ipsam, explicabo, fugit in magni delectus aliquid.
      .column_3
        h2.icon.group
        h5.text.normal Lorem ipsum dolor sit
        small
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, ipsam, explicabo, fugit in magni delectus aliquid.
      .column_3
        h2.icon.cog
        h5.text.normal Lorem ipsum dolor sit
        small
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, ipsam, explicabo, fugit in magni delectus aliquid.
      .column_3
        h2.icon.twitter
        h5.text.normal Lorem ipsum dolor sit
        small
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, ipsam, explicabo, fugit in magni delectus aliquid.


  section.bck.light.padding
    .row.text.thin.center
      .column_10.offset_1
        h1.text.book.color.theme Lorem ipsum dolor sit amet
        h4
          | Quam sunt quos minima consequatur dolore quaerat vel recusandae numquam ab qui dignissimos doloribus molestiae pariatur magnam libero nam consectetur asperiores maiores.


  section.bck.lightest.landing
    .row.text.center
      .column_10.offset_1
        h2.text.bold.color.theme Lorem ipsum dolor sit amet
        h4.text.book.italic Quam sunt quos minima consequatur
        a.button.large.margin-top(href='#') Yes, please!


  section.padding.bck.color
    .row.margin-bottom
      .column_10.offset_1.text.center
        h1.color.book.theme Quienes
        h3.text.thin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, ipsam, explicabo, fugit in magni delectus aliquid.
    .row
      .column_3.offset_3.text.center
        img.responsive.rounded.margin-bottom(src='https://si0.twimg.com/profile_images/378800000213291626/1ca4df1c80237663124bb495b581689c.jpeg')
        a.twitter-follow-button(href='https://twitter.com/soyjavi', data-show-count='true', data-dnt='true') Follow @soyjavi
      .column_3.text.center
        img.responsive.rounded.margin-bottom(src='https://si0.twimg.com/profile_images/3677102674/17596a8cad387794647eb90b7279d436.jpeg')
        a.twitter-follow-button(href='https://twitter.com/nabaroa', data-show-count='true', data-dnt='true') Follow @nabaroa
        script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


  footer.bck.dark.padding
    .row.margin-top.margin-bottom
      .column_5
        p.text.bold.big
          | Handcrafted with Passion & Coffee
        | We're a ... located in
        span.text.normal Bilbao
        | , ES.
      .column_4
        p.text.bold.big Join the team!
        | Let us know how you're!
        a.text.underline.color.theme(href='mailto:hello@tapquo.com?subject=job') Get in touch
      .column_3
        p.text.bold.big Need some help?
        | For quick answers or help
        a.text.underline.color.theme(href='https://twitter.com/tapquo', target='_blank') follow us


  script(src='javascripts/anticamp-site.components.js')
  script(src='javascripts/anticamp-site.0.0.1.js')
