section#merchandaising.padding.bck.color.textura.border-top
	.row.margin-bottom
		.column_10.offset_1.text.center
			h1.heading Merchandising
			.row
				.column_4
					.mer1.dia300(data-stellar-ratio="1.1")
				.column_4
					.mer2.dia300(data-stellar-ratio="1.4")
				.column_4
					.mer3.dia300(data-stellar-ratio="1.2")
				.column_4
					.mer4.dia300(data-stellar-ratio="1.5")
				.column_4
					.mer6.dia300(data-stellar-ratio="2") 