section#what.bck.textura.padding.text.center(data-stellar-offset-parent="true")
  .row
    .column_10.offset_1
      h1.heading Qué es
      p
        | TheAntiCamp no sólo es un 
        span.bold workshop de formación en desarrollo web
        | .
      p.margin_top Es mucho más.
      h3.padding_bottom.margin_top Entre todos conseguiremos:
      .space
        ul.margin_top.row.stella(data-stellar-ratio="1.2")
          li.column_3
            .dia260.circle.bck.theme.white.text.color
              h2.icon.desktop
              | Ponernos las pilas con 
              span.bold CoffeeScript 
              | y 
              span.bold sass
          li.column_3
            .dia260.circle.bck.theme.white.text.color
              h2.icon.tint
              | Hacer crowdfunding para 
              span.bold financiar #theAntiEvent 
          li.column_3
            .dia260.circle.bck.theme.white.text.color
              h2.icon.group
              | Crear sinergias de trabajo

