section#where.bck.padding.text.center.height.where
  .row
    .column_10.offset_1
      h1.heading Dónde y cuándo
      p Se celebrará en Bilbao, Madrid y Barcelona.
      .space
        ul.ch-grid.stella.top(data-stellar-ratio="1.5")
          li.bilbao
            .ch-item
              .ch-info
                h3 Bilbao
                p
                  | Septiembre 2013
                  a(href='#') Apúntate
              .ch-thumb.ch-img-1
          li.madrid
            .ch-item
              .ch-info
                h3 Madrid
                p
                  | Octubre 2013
                  a(href='#') Apúntate
              .ch-thumb.ch-img-2
          li.barcelona
            .ch-item
              .ch-info
                h3 Barcelona
                p
                  | Noviembre 2013
                  a(href='#') Apúntate
              .ch-thumb.ch-img-3
        p 
          | Ya hay fecha cerrada para Bilbao: 
          span.bold 30 agosto - 1 septiembre
      //   p
          | En principio se han planteado estos tres destinos, pero ya ha habido alguna 
          span.bold otra sugerencia 
          | para hacerlo también en otra ciudad.
       //h4
          | Y 
          span.bold tú 
          | , ¿Dónde quieres que se celebre 
          span.bold el cuarto #theAntiCamp
          | ?
       // .margin_top
          a.button(href='') Vota
section.bilbao_bg(data-stellar-background-ratio=".5")
