section.padding.bck.color
  .row.margin-bottom
    .column_10.offset_1.text.center
      h1.heading Quiénes
      h3.text.thin
        | Javi Jimenez is the CTO and co-founder of
        a.text.normal(href='http://tapquo.com') tapquo
        | . A restless mind that always strives for continuous improvement, able to create frameworks like
        a.text.normal(href='http://lungo.tapquo.com') Lungo
        | ,
        a.text.normal(href='http://quojs.tapquo.com') QuoJS
        | ,
        a.text.normal(href='http://monocle.tapquo.com') Monocle
        | used by thousands of developers around the world.
  .row
    .column_4.offset_4.text.center
      img.responsive.rounded.margin-bottom(src='http://cdn.tapquo.com/photos/soyjavi.jpg')
      a.twitter-follow-button(href='https://twitter.com/soyjavi', data-show-count='true', data-dnt='true') Follow @soyjavi
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
