section#who.padding.bck.color
  .row.margin-bottom
    .column_10.offset_1.text.center
      h1.heading Quiénes
      p De momento los 
        span.bold impulsores de #theAntiCamp 
        | somos dos, seguro que pronto seremos muchos más

  .row
    .column_4.offset_2.text.center
      .javi.circle.dia260.center.margin_bottom
      a.twitter-follow-button(href='https://twitter.com/soyjavi', data-show-count='true', data-dnt='true') Follow @soyjavi
        script
         !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    .column_4.text.center
      .nak.circle.dia260.margin_bottom
      a.twitter-follow-button(href='https://twitter.com/nabaroa', data-show-count='true', data-dnt='true') Follow @nabaroa
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
