section#why.bck.textura.padding.text.border-top
  .row
    .column_10.offset_1
      h1.heading Por qué
      h3.heading La ilusión
      p
        | Despues de la experiencia que tuvimos montando 
        span.bold #theAntiEvent   
        | , nos dimos cuenta que lo más importante en estas iniciativas es la  
        span.bold pasión y la ilusión  
        | que ponen los 
        span.bold participantes  
        | , y en ese sentido estamos muy contentos de lo que se consiguió, al fin y al cabo este evento sólo funciona si los asistentes colaboran activamente. Sin lugar a dudas se creó un equipo interesado en aprender, enseñar, colaborar y pasárselo bien.
      h3.heading La necesidad
      p
        | Sabemos que muchos se quedaron sin poder asistir por falta de medios o por problemas de agenda. Para solucionar esto se nos ha ocurrido 
        span.bold  mover #theAntiEvent a otras ciudades 
        | y repetirla periódicamente. La idea es ir aprendiendo de la experiencia y montar un anti evento cada vez mejor.
      p
        | Para que esto sea posible se necesitan ciertos mínimos para que el anti evento tenga 
        span.bold la calidad 
        | que queremos que tenga: buenos locales, wifi en condiciones, catering para los participantes, ayudas en desplazamientos, merchandaising, gastos de dominio, hosting... todas esas cosas que los patrocinadores aportan, pero la cuestión es que 
        span.bold #theAntiEvent no tiene patrocinadores 
        | .
      h3.heading La idea
      p
        | La idea es sencilla, montar un 
        span.bold crowdfunding 
        | para financiar todo el tema.
      p
        | Dándole vueltas al coco, se nos ha ocurrido ofrecer nuestra  
        span.bold experiencia en desarrollo web  
        | en forma de 
        span.bold formación de calidad y asequible  
        | para poder financiar el siguiente #theAntiEvent, y el siguiente, y el siguiente... También se podrá colaborar adquiriendo stickers, camisetas,...
      h3.heading *nota
      p
        | La financiación y la lista de gastos van a ser públicos y transparentes. Queremos dejar claro que los organizadores y los profesores  
        span.bold no se lucran 
        | de ese dinero recaudado en #theAntiCamp, ya que todo irá destinado a invertirlo en el siguiente #theAntiEvent
      p Y entonces ¿por qué lo hacemos?
      p
        | Porque  
        span.bold nos divierte 
        | y
        | porque creemos que la 
        span.bold colaboración 
        | es la clave para conseguir mejorar. 
