@import "CSSmethods/vendor.styl"

/* BUTTONS */
WHITE           = #fff
COLOR           = #34495e
THEME           = #3498db
THEME = #00AFE3
/* BUTTONS */
SECONDARY       = #ECF0F1
SUCCESS         = #2ECC71
ALERT           = #E74C3C
/* BACKGROUNDS */
LIGHT           = #ECF0F1
DARK            = #2C3E50
/* OTHERS */
TRANSITION      = 400ms
BORDER-RADIUS   = 2px
