@import "_vendor";
@import "_theme";
/* ====================== FONT-FACE ====================== */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
@import url("http://fonts.googleapis.com/css?family=Londrina+Sketch");
@import url("http://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body {
  color:        #000;
  font-size:    13px;
  line-height:   1.2;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:   300;	  
  & > header{
  		.solid{background: #111;}

      & nav a{
        color: rgba(255,255,255,0.5);
        &:hover, :active{color: #fff;}}}

  > section{
    min-height: 900px;
    .underline{
      border-bottom: solid #bbb 1px;}}
      
  & hr{
  	border-style:      solid;
    border-color: $bck_light;
    margin:           20px 0;
    padding:               0;
  }
  /* ====================== NAVIGATION ====================== */
  & nav.group{
  	& a{
  		border-left: solid #ccc 1px;
  		color: #888;
  		& >.icon{color: #888;}
  		& :hover, & :active, & .active{
        color: #000;
        background: $bck_lightest;

        & > .icon{color: #000;}}

      & :last-child{border-right: solid #fff 1px;}}}
 /* ====================== BACKGROUNDS ====================== */
  .bck{
  	&.lightest {background-color: $bck_lightest;}
    
    &.light       {background-color: $bck_light;}
      
    &.dark         {background-color: $bck_dark;}
      
    &.darkest   {background-color: $bck_darkest;}
      
    &.theme           {background-color: $color;}
      
    &.accept   {background-color: $color_accept;}
 
    &.cancel  {background-color: $color_cancel;}
    
    &.textura  {background: url(../images/cardboard.png);} 
    &.textura2  {background: url(../images/paper.jpg);} 
  }
  /* ====================== TEXT ====================== */
  & .text{
    &.shadow{@include text-shadow(rgba(black,0.5), 0, 1px, 1px);}

    &.color{

      &.accept      {color: $color_accept;} 
      
      &.cancel      {color: $color_cancel;}
      
      &.secondary{color: $color_secondary;}
      
      &.theme              {color: $color;}
      
      &.white              {color: #fff;}}}
  /* ====================== FORM ====================== */
  & form, .form{
  	& input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea{
      background-color: white;
      border: 1px solid #ddd;
      @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
      color: rgba(0, 0, 0, 0.75);
      &.error, &:required{
      	background-color: rgba(198, 15, 19, 0.1);
      	border-color: $color_cancel;
        color: $color_cancel;}

      &:focus{
      	background:           #FAFAFA;
        border-color:         #B3B3B3;
        color: rgba(0, 0, 0, 0.75);}}}
  /* ====================== TABLE ====================== */
  & table{
  	background:       #fff;
    color:            #333;
    border: 1px solid #ddd;

    @include border-radius(3px);

    & tr{
      &:nth-child(even) td{background-color: #F9F9F9;}
    }
    & th{
      background-color: #eee;
      color: #222;
    }
      
    & td .highlight{
      background-color: $color !important;
      color: #fff;}}
  /* ====================== BUTTONS ====================== */
  & .button, button{
  	background-color: $color;
  	border: solid 1px rgba(0,0,0,0.1);
    @include border-radius(1px);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.2));
    color:     white;
    font-weight: 400;

    &:active{
    	border-color: none;
    	@include box-shadow(inset 0 0 128px rgba(0,0,0,0.25));
    }
    
    &.secondary{
    	background-color: $color_secondary;
    	color: #666;
    	@include text-shadow(rgba(255,255,255,0.25), 0, 1px, 0);
    }
    
    &.accept{background-color: $color_accept;}
    
    &.cancel{background-color: $color_cancel;}
    
    &.transparent{background: none !important;}
  /* ====================== BUTTONS ====================== */
  // & :not(nav) > a:not(.button)
  & a:link,a:visited{
  	color: $color;
    opacity: 0.9;
    &:hover, &:active{opacity: 1.0;}}
  /* ====================== TAGs ====================== */
  & .tag{
  	color: #fff !important;
    border: solid 1px rgba(0,0,0,0.1);
    @include border-radius(2px);} 

  
}
a{color:$color;} 
}
/* ====================== EXPECÍFICOS ====================== */

    .main.landing{
      background:  url(../images/home.jpg) 0 0 no-repeat;
      background-size: cover;
      min-height: 700px;
      position: relative;
      h2{
        position: absolute;
        bottom:7%;
        left:25%;
        font-size: 7em;
      }
      p{
        position: absolute;
        bottom:2%;
        left:25%;
          
      }
    }
    .logo_n{
      position: relative;
      width: 279px;
      height: 57px;
      span{
        position: absolute;
        text-indent: -9999px;
      }
      em{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url(../images/logo_n.png) 0 0 no-repeat;
      }
    }
    .icon{
      font-size: 2.5em;
    }
    .circle.column_3{
      border-radius:50%;
      height: 260px;
      text-align: center;
      padding: 5%;
      line-height: 1.1em;
    }
      .circle.column_4{
      border-radius:50%;
      height: 360px;
      margin: 40px; 
      text-align: center;
      padding: 5%;
      line-height: 1.1em;
      font-size: 1.5em; 
      position: relative;
      overflow: visible; 
        &:hover{
        background: rgba(255,255,255,.3); 

        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -ms-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
        &:before{
          content:"Me lo pido";
          position: absolute;
          top: -40px; 
          left: -40px;
          width: 300px;
          height: 49px;
          -webkit-transform: rotate(-15deg);
          -moz-transform: rotate(-15deg);
          -ms-transform: rotate(-15deg);
          -o-transform: rotate(-15deg);
          transform: rotate(-15deg);
        }
      }
      a{display: block;
        color: $dark;
        &:hover{
          color: lighten($dark,10%); 
        }
      }
    }
    .border{border:3px dashed $bck_light;}
    .border-top{border-top:3px dashed $bck_light; }
    .bilbao_bg{
      background:  url(../images/ciudad_bg.jpg) 0 0 no-repeat;
      background-size:100%;
      min-height: 600px;
    }
    .where{
      min-height: 600px;
    }
