.heading{
	/*font-family:  'Londrina Sketch' , georgia;*/
	/*font-family: 'La Belle Aurore', cursive;*/
	font-family: 'Love Ya Like A Sister', cursive;
	/*position: absolute;
	left: 0;
	top: 0;*/position: relative;


}
.main.landing .heading{
	font-family: 'Love Ya Like A Sister', cursive;
}