@import "_vendor";
@import "_constants";
$s:1.7em; $size:$font-size-small; 
/* ========================= HEADING ========================= */
h1, h2, h3, h4, h5, h6{
	margin: 		 0;
	padding: 		 0;
	line-height: 1.2em;

	a{font-weight: inherit;}

	.right{font-size: 1.0em;}

	.icon{font-size: 0.85em;}
}
h1,.h1{font-size: 7em;}
h2,.h2{font-size: 5em;}
h3,.h3{font-size: 4em;line-height: 1.5em;}
h4,.h4{font-size: 2em;line-height: 1.5em;}
h5,.h5{font-size: 1.6em; line-height: 1.1em;}
h6{font-size: 1.0em;}


/* ========================= TEXT ========================= */
.text{
	.thin			     {font-weight: 200;}
	.book			     {font-weight: 300;}
	.normal		     {font-weight: 400;}
	.bold			     {font-weight: 700;}
	.italic		   {font-style: italic;}
    .underline  {border-bottom: 1px solid;}
    .uppercase {text-transform: uppercase;}  
    &.left         		 {text-align: left;} 
    &.right				{text-align: right;}
    &.center		   {text-align: center;}
    &.justify		  {text-align: justify;}
    &.tiny 	   {font-size: $font-size-tiny;}
    &.small   {font-size: $font-size-small;}
    &.big    	{font-size: $font-size-big;}   
}
/* ========================= BASIC ELEMENTS ========================= */
p,ul{
	font-size:/* $s*/1.6em; 
	margin-bottom: 20px !important;  
	line-height: $s;}
small{
	font-size: $size;
    line-height: $size;}